@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
*{
  font-family: 'Montserrat', sans-serif;
}



#nbr{
  /* font-size:62px; */
  /* margin:44px 0 0 0; */
  color: #000;
}

button{
  outline:none;
  background:none;
  border:2px solid #000;
  padding:11px;
  cursor:pointer;
}

