<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>TaskIt</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href = "../static/index.css">
</head>
<body dir="rtl">

    <div id="login_div">
        <img src="../static/logo2.JPG" style="position: absolute; top: -5%; right: 0%;">
        <h1 id="title">כניסה לחשבון</h1>
        <form>
            <input type="text" placeholder="שם משתמש" name="username" id="username">
            <input type="password" placeholder="סיסמה" name ="password" id="password">
            <a href="{{url_for('signup')}}" id="signup">עוד לא נרשמתם? הירשמו כאן!</a>
            <button type="submit" class="btn-hover color-10" id="submit">כניסה</button>
        </form>
    </div>

    
   
    <div id="bg_div">
        <div id="text_div">
            <div class="item-1">
                <p style="font-size: 250%;">.TaskIt</p>
                <p style="font-size: 200%;">ברוכים השבים</p>
            </div>
    
            <div class="item-2">
                <p style="font-size: 200%;">מרגישים לחץ? עמוסים?</p> 
            </div>
            <div class="item-3">
                <p style="font-size: 200%;">צריכים עזרה בניהול זמן?</p>
            </div>
        </div>
    </div>
    
   
</body>

</html>