<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    <title>TaskIt</title>
    
  </head>
  <body >
    <script>
      function encrypt_data(){
        var password = document.getElementsByName("password")[0];
        var hashed = md5(password.value);
        password.value = hashed;
        var username = document.getElementsByName("username")[0];
        var cvalue = username.value;
        alert(cvalue);
        setCookie("username_cookie", cvalue, 1);
      }
    </script>
    <div class="content" style="position: absolute; top: 15%; left: 10%;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../static/img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                <h1>TaskIt</h1>
                <h3 class="mb-4" style="position: absolute; right: 5%;" dir="rtl">ברוכים השבים. </h3><br>
              </div>
              <form action="/" method="POST" onsubmit="encrypt_data()">
                <div class="form-group first">
                  <label for="username" style="position: absolute; right: 5%;">שם משתמש</label>
                  <input type="text" class="form-control" name="username" id="username">    

                </div>
                <div class="form-group last mb-4">
                  <label for="password" style="position: absolute; right: 5%;">סיסמה</label>
                  <input type="password" class="form-control" name ="password" id="password">
                  
                </div>
                
                <div class="d-flex mb-5 align-items-center">
                  <span class="ml-auto"><a href="{{url_for('signup')}}" class="forgot-pass">עוד לא נרשמתם? הירשמו כאן</a></span> 
                </div>

                <input type="submit" value="כניסה" class="btn btn-block btn-primary">

                <h3 class="d-block text-left my-4 text-muted" style="color: red;">&mdash; {{ msg }} &mdash;</h3>
              
              </form>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>

      <script src="../static/js/user_cookie.js"></script>
      <script src="../static/js/jquery-3.3.1.min.js"></script>
      <script src="../static/js/popper.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
      <script src="../static/js/main.js"></script>
  </body>
</html>