<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    <title>TaskIt</title>
    
  </head>
  <body >
    <script>
    function verify(){
        var username = document.getElementsByName("username")[0];
        var password = document.getElementsByName("password")[0];
        var password2 = document.getElementsByName("password2")[0];
        
        var isValid1 = true;
        var isValid2 = true;
        var isValid3 = true;
        if (username.length > 10){
            alert("שם המשתמש חייב להיות עד שמונה תווים בלבד.");
            isValid1 = false;
        }
        if (password.value != password2.value){
            alert("אימות הסיסמה לא תואם לסיסמה שהוזנה.");
            isValid2 = false;
        }
        var password = document.getElementsByName("password")[0].value;
        if (password.length < 10){
            alert("אורך הסיסמה חייב להיות עשרה תווים לפחות.");
            isValid3 = false;;
        }
        
        return isValid1 && isValid2 && isValid3;
    }
    </script>
    <div class="content" style="position: absolute; top: 15%; left: 10%;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../static/img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                <h1>TaskIt</h1>
                <h5 class="mb-4" style="position: absolute; right: 5%;" dir="rtl">רוצים לתכנן את הזמן טוב יותר?</h5><br>
              </div>
              <form action="/signup" method="POST" onsubmit="return verify();">
                <div class="form-group first">
                  <label for="username" style="position: absolute; right: 5%;">שם משתמש</label>
                  <input type="text" class="form-control" name="username" id="username" required>    

                </div>
                <div class="form-group last mb-4">
                  <label for="password" style="position: absolute; right: 5%;">סיסמה</label>
                  <input type="password" class="form-control" name ="password" id="password" required>
                  
                </div>

                <div class="form-group last mb-4">
                    <label for="password2" style="position: absolute; right: 5%;">אימות סיסמה</label>
                    <input type="password" class="form-control" name ="password2" id="password2" required>
                    
                </div>
                
                <div class="form-group last mb-4">
                    <label for="email" style="position: absolute; right: 5%;">אימייל</label>
                    <input type="email" class="form-control" name ="email" id="email" required>
                    
                </div>
                <input type="submit" value="כניסה" class="btn btn-block btn-primary">

                <h3 class="d-block text-left my-4 text-muted" style="color: red;">&mdash; {{ msg }} &mdash;</h3>
              
              </form>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>

    
      <script src="../static/js/jquery-3.3.1.min.js"></script>
      <script src="../static/js/popper.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
      <script src="../static/js/main.js"></script>
  </body>
</html>