<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>TaskIt</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href = "../static/signup.css">
</head>
<body dir="rtl">

    <div id="signup_div">
        
        <h1 id="title">הרשמה</h1>
        <h3 id="title2">{{msg}}</h3>
        <form action="/signup" method="POST">
            
            <input type="text" placeholder="שם משתמש" name="username" id="username" required="required">
            <input type="password" placeholder="סיסמה" name ="password" id="password" required="required"> 
            <input type="password" placeholder="אימות סיסמה" name ="password2" id="password2" required="required">
            <input type="email" placeholder="כתובת מייל" name ="email" id="email" required="required">
            <button type="submit" class="btn-hover color-10" id="submit">הרשמה</button>
        </form>
    </div>
    <img src="../static/logo2.JPG" style="position: absolute; bottom: 0%; left: 0%;">
    
   
    <div id="bg_div">
        <div id="text_div">
            <div class="item-1">
                <p style="font-size: 190%;">ברוכים הבאים לTaskIt</p>
            </div>
    
            <div class="item-2">
                <p style="font-size: 190%;">צריכים עזרה בניהול זמן?</p> 
            </div>
            <div class="item-3">
                <p style="font-size: 250%;">הירשמו כאן</p>
            </div>
        </div>
    </div>
    
   
</body>

</html>